.dashboard-login-form{
    &__title{
        color: #5269fc;
        font-size: 25px;
        text-align:center;
        margin-bottom:14px;
    }
    &__subtitle{
        color:#b3b3b3;;
        font-size: 14px;
        text-align:center;
        margin-bottom: 20px;

    }
    &__error{
        color: red;
        font-size:12px;
        margin-top: 2px;
    }
    &__button{
        margin:16px auto 0 auto;
        width: 160px;
        height:37px;
        display: block;
        cursor: pointer;
        background-color:#5269fc;
        color:white;
        border:none;
        border-radius:3px;
        text-transform: uppercase;
    }
    &__button:focus{
        outline: none;
    }
}