.library-system-header{
    height:54px;
    background-color: white;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    display:flex;
    padding: 0 20px;
    &__left{
        display: flex;
        align-items: center;
        &__logo{
            margin-right: 40px;
            font-size:24px;
            color: #5269fc;
        }
        &navitems{
            &__btn{

            }
        }
    }
}