.menu-container{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: white;
    z-index: 302;
    transition: all 0.3s;
}

@media only screen and (max-width: 768px) {
    .menu-container{
        left:-200px;
    }
  }